/*font-family: 'Indie Flower', cursive;
font-family: 'Bitter', serif;
font-family: 'Prociono', serif;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Alegreya', serif;
font-family: 'Neuton', serif;*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: url(../textura/tweed.png);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed; }

hr {
  background: #073c55;
  height: 2.5px; }

.navbar-brand .logo {
  width: 60px;
  height: 80px; }

.dropdown-menu {
  background: #073c55; }

nav .navbar-nav li {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

nav .navbar-nav li a {
  font-size: 18px;
  letter-spacing: 1px; }

nav .navbar-nav li a:hover {
  background: #061f2b;
  border-radius: 10px; }

/* fotter */
footer {
  background: #073c55;
  color: aliceblue; }

.fo_titulo {
  font-size: 17px; }

.fo_p {
  font-size: 15px; }

.bd-example .carousel-inner .carousel-item .carousel-caption h3 {
  color: floralwhite; }

.bd-example .carousel-inner .carousel-item .carousel-caption {
  margin-bottom: 250px; }

.bd-example {
  margin-bottom: 25px; }

nav {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.bg-dark {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.listado {
  display: none; }

nav ul li:hover .listado {
  margin-top: 0;
  display: block; }

/*Carrucel*/
.imgcarr {
  height: 100vh; }

/* letras*/
.intro {
  width: 75%;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.534);
  padding: 8px;
  margin-bottom: 10px; }

.letras {
  letter-spacing: 2px;
  text-shadow: 0.3px 0.3px white; }

.letras:hover {
  text-decoration: none; }

.letrast {
  color: red;
  font-size: 22px; }

.typing {
  font-size: 22px;
  color: teal; }

.typing::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 3.5%;
  border-right: 2px solid white;
  -webkit-animation: blink 0.6s infinite ease;
  animation: blink 0.6s infinite ease; }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.blue {
  background: #073c55; }

.direccion {
  width: 100%; }

.direccion h3 {
  text-align: center;
  color: white;
  font-size: 35px;
  font-weight: bold; }

.direccion p {
  text-align: center;
  color: white;
  font-size: 23px; }

.mapa {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.mapa iframe {
  width: 90%;
  height: 600px; }

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 390px; }

.swiper-slide .imgbox {
  width: 100%;
  height: 300px;
  overflow: hidden; }

.imgbox a img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }

.imgbox:hover a img {
  -webkit-transform: translateX(10%);
  -ms-transform: translateX(10%);
  transform: translateX(10%);
  -webkit-transform: translateY(5%);
  -ms-transform: translateY(5%);
  transform: translateY(5%);
  width: 90%;
  height: 90%; }

.swiper-slide .descripcion {
  background: rgba(255, 255, 255, 0.692);
  text-align: center;
  padding: 5px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }

.swiper-slide .descripcion h3 {
  font-size: 21px;
  font-family: 'Prociono', serif; }

@media screen and (max-width: 800px) {
  nav {
    background: #073c55;
    opacity: .9; }
  .imgcarr {
    height: 60vh; }
  .intro {
    padding: 3px; }
  .letrast {
    letter-spacing: 0px;
    font-size: 14px; }
  .typing {
    font-size: 14px; }
  .fo_titulo {
    font-size: 16px; }
  .fo_p {
    font-size: 12px; }
  .navbar-brand .logo {
    width: 45px;
    height: 65px; }
  nav .navbar-nav li a {
    font-size: 13px;
    letter-spacing: 0px; }
  nav .navbar-nav li {
    margin-top: 3px; }
  .navbar-toggler {
    font-size: 15px; }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 260px; }
  .swiper-slide .imgbox {
    height: 200px; }
  .imgbox:hover a img {
    -webkit-transform: translateX(7%);
    -ms-transform: translateX(7%);
    transform: translateX(7%);
    -webkit-transform: translateY(3%);
    -ms-transform: translateY(3%);
    transform: translateY(3%); }
  .swiper-slide .descripcion {
    padding: 1px; }
  .swiper-slide .descripcion h3 {
    font-size: 17px; }
  .direccion h3 {
    font-size: 25px; }
  .direccion p {
    font-size: 17px; }
  .mapa iframe {
    height: 350px; } }
