@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel=');

$font-1 : 'Open Sans',
sans-serif;
$font-2: 'Roboto',
sans-serif;

$color-claro          : white;
$color-oscuro         :black;
$color-principal      :rgb(7, 60, 85);
$color-principal-hover:rgb(6, 32, 44);

$font-size-small :12px;
$font-size-normal:16px;
$font-size-big   :20px;
$font-size-x-big :26px;

$spacing-small :5px;
$spacing-normal:10px;
$spacing-big   :20px;



* {
    padding           : 0;
    margin            : 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box
}

body {
    background           : url(../textura/tweed.png);
    background-repeat    : repeat;
    background-size      : cover;
    background-attachment: fixed;
    font-family          : $font-1;

}

hr {
    background: rgb(7, 60, 85);
    height    : 2.5px;
}



#menu {

    transition: all .5s ease;

    a {
        .logo {
            width : 60px;
            height: 80px;
        }
    }


    .collapse {
        ul {
            .navbar-nav {
                .dropdown-menu {
                    background: $color-principal;

                }
            }


            li {
                &:hover .listado {
                    display: block;
                }

                .listado {
                    display: none;
                }

                a {
                    &:hover {
                        background: $color-principal-hover;
                    }
                }
            }
        }
    }

}

.blue {
    background: $color-principal;
}





#contenedor-carrusell {
    .carousel-inner {
        .carousel-item {
            .imgcarr {
                height: 100vh;
            }
        }
    }
}


// letras
.intro {
    margin-top   : $spacing-big;
    width        : 75%;
    border-radius: 8px;
    background   : rgba(0, 0, 0, 0.4);
    padding      : 8px;
    margin-bottom: $spacing-normal;

    .letras {
        letter-spacing: 2px;

    }

    .letrast {
        color    : $color-claro;
        font-size: $font-size-big;
    }

    .typing {
        font-size: $font-size-big;
        color    : teal;

    }
}

.typing::after {
    content     : '';
    position    : absolute;
    width       : 1px;
    height      : 3.5%;
    border-right: 2px solid white;
    animation   : blink 0.6s infinite ease;

}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



// swiper
.swiper-container {
    width         : 100%;
    padding-top   : 50px;
    padding-bottom: 50px;

    .swiper-wrapper {
        .swiper-slide {

            width : 300px;
            height: 390px;

            .imgbox {
                width   : 100%;
                height  : 300px;
                overflow: hidden;

                a {
                    img {
                        width     : 100%;
                        height    : 100%;
                        transition: 0.5s ease;
                    }
                }
            }

            &:hover a img {
                transform: translateX(10%);
                transform: translateY(5%);
                width    : 90%;
                height   : 90%;
            }

            .descripcion {
                background: rgba(255, 255, 255, 0.692);
                text-align: center;
                padding   : 5px;
                transition: 0.5s ease;

                h3 {
                    font-size  : $font-size-normal;
                    font-family: $font-2;
                    font-weight: 700;
                }
            }
        }
    }


}

#mapa {
    .direccion {
        color: $color-claro;

        h3 {
            text-align: center;

            font-size  : $font-size-x-big;
            font-weight: 800;
        }

        p {
            text-align: center;
            font-size : $font-size-big;
        }
    }

    .mapa {
        width          : 100%;
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin         : 30px 0px;
        box-sizing     : border-box;

        iframe {
            width : 90%;
            height: 600px;
        }
    }
}

/* fotter */
footer {
    background: $color-principal;
    color     : $color-claro;

    .fo_titulo {
        font-size  : $font-size-big;
        font-family: $font-2;
        font-weight: 800;
    }

    .fo_p {
        font-size: $font-size-normal;
    }
}




@media screen and (max-width:767px) {
    #menu {
        background: $color-principal;
        opacity: .9;
        .navbar-brand{
            
            img{
                width: 38px;
                height: 45px;
            }
        }
        .navbar-toggler{
            font-size: 18px;
        }
        .collapse {
            ul {
               
                li {
                    margin:4px 0;
                    a {
                        font-size: $font-size-small;
                       
                    }
                }
            }
        }
    }

    #contenedor-carrusell{
        .carousel-inner{
            .carousel-item {
                .imgcarr {
                    height: 60vh;
                }
            }
        }
    }


    .intro {
        padding: $spacing-normal;
        .letras{
            .letrast {
                letter-spacing: 0px;
                font-size     : $font-size-normal
            }

            .typing {
                font-size: $font-size-normal;

            }
        }
        
    }

   


   


    // swiper
    .swiper-container{

        .swiper-wrapper{
            .swiper-slide {
                background-position: center;
                background-size    : cover;
                width              : 180px;
                height             : 240px;
                .imgbox{
                    height: 200px;
                    &:hover a img{
                        transform: translateX(7%);
                        transform: translateY(3%);
                    }
                }
                .descripcion{
                    padding: $spacing-small;
                    h3{
                        font-size: $font-size-normal;
                    }
                }
            }
        }
    }
    


    #mapa{
        .direccion {
            h3 {
                font-size: $font-size-big;
                
            } 
            p{
                font-size: $font-size-normal;
            }
            
        
         }
         .mapa{
             iframe{
                height: 500px;
             }
         }
    }
    

    footer{
        .fo_titulo {
            font-size: $font-size-normal;
        }
    
        .fo_p {
            font-size: $font-size-small;
        }
    }
    

}