.msg_error {
  color: white;
  font-size: 15pt;
  width: 40%;
  margin: auto;
  text-align: center; }

.msg_save {
  color: white;
  font-size: 15pt;
  width: 40%;
  margin: auto;
  text-align: center; }

.alert p {
  padding: 10px;
  background: #0a743f; }
